:root {
  --clr-bg: rgb(20, 173, 71);
  --clr-canvas: white;
  --clr-muted: hsl(0, 0%, 41%);

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-base: 12px;
  --radius-lg: 16px;
  --radius-xl: 20px;

  --shadow: rgba(75, 75, 75, 0.425);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

#cursor{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transform: scaleX(-1);
    font-size: 1.6rem;
    pointer-events: none;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#canvas {
  width: 70%;
  height: 80%;
  min-height: 600px;
  /* background-color: red; */
  box-shadow: 5px 5px 20px var(--shadow);
  border: 1ps soid hsl(0 0 50);
  border-radius: var(--radius-md);
  border-radius: var(--radius-md);
}

#color-pannel {
  width: 100px;
  height: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(30px, 1fr));
  grid-auto-rows: 30px;
  gap: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  border: 1ps soid hsl(0 0 50);
  border-radius: var(--radius-md);
  box-shadow: 5px 5px 20px var(--shadow);
    cursor: pointer;
}
.colors {
  background-color: red;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
}
.colors.active::after{
  content: "";
  top: -20%;
  left: 50%;
transform: translateX(-50%);
  position: absolute;
  width: 10px;
  height: 15px;
  border: 1px solid whtie;
  background-color: green;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
}

main{
    cursor: none;
}
#color-pannel:hover #cursor{
    display: hidden;
}
.colors:nth-child(1){
  background-color: #fff;

}
.colors:nth-child(2){
  background-color: #000;
}


@media (max-width: 32rem){
  *{
    user-select: none;
  }
  *#color-pannel{
    width: 97%;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  }

#canvas{
  height: 400px;
}
  #cursor{
    display: none;
  }
  main{
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 1rem .5rem;
  }
  #canvas{
    width: 95%;
  }
  
}